
{% extends 'layout.html' %}
<!--file_id,upload_date,method,parameters,pickle_address,status,details-->
{% block div %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Manage Database(s)</h1>
</div>

<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >Upload Dataset</button>-->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">File ID</th>
      <th scope="col">Upload Date</th>
      <th scope="col">Database Type</th>
      <th scope="col">Description</th>
      <th scope="col">Action(s)</th>
    </tr>
  </thead>
  <tbody>
    {% for each_process_row in process_list %}

  <tr>
    <td>{{each_process_row[1]}}</td>
    <td>{{each_process_row[2]}}</td>
    <td>
      {% if each_process_row[3] == 'abundance'%}
        <b>Abundance</b>
      {% elif each_process_row[3] == 'upex'%}
        <b>UPEX</b>
      {% elif each_process_row[3] == 'metadata'%}
        <b>Meta-Data</b>
      {% else %}
        <b>Unknown</b>
      {% endif %}
    </td>
    <td>{{each_process_row[4]}}</td>
    <td>
      <span>
          <a href="/download_db/{{each_process_row[1]}}/" class="btn btn-success btn-sm" title="Download CSV"><i class="bi bi-file-earmark-spreadsheet"></i></a>
      </span>
      <span>
      <a href="/delete_db/{{each_process_row[1]}}/" class="btn btn-danger btn-sm" title="Delete"><i class="bi bi-trash3"></i></a>
      </span>
    </td>

        {% endfor %}







<!-- Modal -->
<!--
<form method="POST" action="/submit_job">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a New Job</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

              <div class="mb-3">
                <label for="recipient-name" class="col-form-label"><b>User id:</b></label><br>
                <samp>{{session.username}}</samp>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label"><b>Input X:</b></label>
                <input type="text" class="form-control" id="input_x" name="input_x" required>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit" >Confirm</button>

          </div>
        </div>
      </div>
    </div>
    </form>
    -->
{% endblock %}
