{% extends 'layout.html' %}

{% block div %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Upload a Database File</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
      This week
    </button>
  </div>
</div>

<p>Please select a "CSV" dataset and hit Submit button.</p>
<div class="col-4">

<form action = "/upload_db" method = "POST" enctype="multipart/form-data">
      <label for="gamma_val" class="form-label">Data Type:</label>
      <select class="form-select" aria-label="Default select example" name="data_type">
          <option value="abundance" selected>Abundance File</option>
          <option value="upex">UPEX matrix</option>
          <option value="metadata">META-Data</option>
        </select>
        <div id="typeHelp" class="form-text">Please choose the type of "CSV" file that you are uploading.</div>
        <label for="c_val" class="form-label">Description:</label>
        <input type="text" class="form-control" name="data_description" placeholder="It is an Example Database">
        <div id="cHelp" class="form-text">Describe your data briefly so that you can remember it later.</div>
        <label for="c_val" class="form-label">Upload File:</label>
         <input type = "file" name = "file" class="btn btn-dark"/>

         <br><br>
         <input type = "submit" class="btn btn-primary"/>

      </form>
      <br>
      <br>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
      <h5 class="h5">FQs:</h5>

    </div>

<h6>What is an Abundance File exactly?</h6>
<h6>What is an UPEX matrix exactly?</h6>
<h6>What is a META-Data exactly?</h6>

{% endblock %}
